rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /courses/{courseId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == "al9434365@gmail.com";
    }

    match /orders/{orderId} {
      allow read: if request.auth != null && (request.auth.uid == resource.data.userId || request.auth.token.email == "al9434365@gmail.com");
      allow create: if request.auth != null;
      allow update: if request.auth != null && request.auth.token.email == "al9434365@gmail.com";
    }

    match /progress/{progressId} {
      allow read: if request.auth != null && (request.auth.uid == resource.data.userId || request.auth.token.email == "al9434365@gmail.com");
      allow write: if request.auth != null && (request.auth.uid == request.resource.data.userId || request.auth.token.email == "al9434365@gmail.com");
    }
  }
}
